    <footer class="footer">
      <div class="container">
      	<div class="row text-light">
      		<div class="col-4">
        		<span>Resto Marek Marchel</span>
        	</div>
          <div class="col-4">
            <span><%= link_to 'Facebook', root_path, class:"text-light"%></span>
          </div>
        	<div class="col-4">
        		<span>Jarosław Żmijewski | Copyright ©2019</span>
        	</div>
        </div>
      </div>
    </footer>