<div class="container">

  <header class="main-header py-3">

    <div class="row flex-nowrap justify-content-between align-items-center">

      <div class="navbar-brand mx-auto" href="#" style="width:25vh;" >
        <%=link_to (image_tag 'logoTop.png', style:"width:100%;"), root_path %>
      </div>

    </div>
  </header>

</div>