<div class="container pb-5">

  <div class="jumbotron">
    <h1 class="display-5 text-success">O nas</h1>
      <p class="lead">Jeśteśmy firmą z długoletnim doświadczeniem. Działamy w obszarze wykończenia wnętrz oraz różnych instalacji.</p>

      <hr class="my-4">

      <p>Stawiamy przede wszystkim na fachowość usług oraz terminowość wykonywania poszczególnych zleceń.</p>

  </div>

  <div class="row pb-5">
    <div class="col-md-12 col-lg-3">
      <h2 class="text-center font-italic alert alert-info">Historia</h2>
        <p class="text-justify">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    </div>
    <div class="col-md-12 col-lg-3">
      <h2 class="text-center font-italic alert alert-dark">Doświadczenie</h2>
        <p class="text-justify">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    </div>
    <div class="col-md-12 col-lg-3">
      <h2 class="text-center font-italic alert alert-primary">Zespół</h2>
        <p class="text-justify">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    </div>
    <div class="col-md-12 col-lg-3">
      <h2 class="text-center font-italic alert alert-secondary">Zasięg</h2>
        <p class="pb-5 text-justify">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    </div>
  </div>
</div>